@import url('https://googleapis.com');

.container-fluid {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(270deg, #570b8d, #3a005f, #2a0049);
  background-size: 800% 800%;
  animation: gradientMove 10s ease infinite;
  background-position: center;
  background-repeat: no-repeat;
}

@keyframes gradientMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

